Options All -Indexes

<IfModule mod_rewrite.c>

    # Start Header 
    # aktifkan Header dibawah jika CMS sudah dionlinekan (pas-siapladeni.com di ganti dgn domain Anda)

    Header add Content-Security-Policy "upgrade-insecure-requests"

    #Header always set X-Frame-Options "SAMEORIGIN"
    #Header always set Strict-Transport-Security: "max-age=31536000" env=HTTPS
    #Header always set X-Content-Type-Options "nosniff"
    #Header always set X-XSS-Protection "1; mode=block"
    #Header always set Expect-CT "max-age=7776000, enforce"
    #Header always set Referrer-Policy: "no-referrer-when-downgrade"
    #Header always set Permissions-Policy: geolocation=(self "https://siapladeni.kemenkumham.go.id"), microphone=()
    #Header set Access-Control-Allow-Origin "*"
	 #End Header

    Options +FollowSymlinks
	RewriteEngine On
  
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Rewrite "www.example.com -> example.com"
    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

    # Checks to see if the user is attempting to access a valid file,
    # such as an image or css document, if this isn't true it sends the
    # request to the front controller, index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([\s\S]*)$ index.php?/$1 [L,NC,QSA]

    # Ensure Authorization header is passed along
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

</IfModule>

<IfModule !mod_rewrite.c> # If we don't have mod_rewrite installed, all 404's # can be sent to index.php, and everything works as normal.
ErrorDocument 404 index.php
</IfModule>

# Disable server signature start

    ServerSignature Off

# Disable server signature end
